/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body * {
    margin: 0;
    padding: 0;
  }
 #container {
   max-width:  1300px; /*whole page will go no wider than this*/
   width:  100%; /*will go to max width but will also be responsive*/
   margin: 0 auto; /* auto gives equal margin on either side when it does not fill entire screen, so centres it*/
 }

 #header {
   height: 50px;
   background-color: #F4F6F6;
   padding: 10px;
 }

 #banner {
   background: image-url("banner.jpeg");
   background-repeat: no-repeat;
   //background: #CACFD2;
   //border-bottom: 2px solid
   font-size: small-caps 40px/40px "Times New Roman", serif;
   color: #282;
   text-align: center;
   background-size: 1300px 400px;
   height: 400px;
   background-position:center;


   #side {
    height: 100px;
     ul {
       padding: 0;
       margin: 0;
       padding: 0;
       overflow: hidden;
      //  width: 80%;
       text-align: center;

       [type="submit"]{
         margin-top: 10px;
         color: black;
         background-color: #F4F6F6;
         border-radius: 8px;


       }
       li {
         list-style: none;
         display: inline-block;
         width: 100px;

         input {
           padding: 5px;
         }
          &:last-of-type {
            float: right;
            padding: 10px 10px;
          }
       a {
         color: white;
         font-size: 20px;
         text-decoration: none;
         font-family: "Roboto", sans-serif;
         font-style: normal;
          }
         }
       }
     }
   }
  //  set_locale {
  //    float: right;
  //    margin: -0.25em 0.1em;
  //    padding-right: .5px;

// }
  img {
    float: left;
  }

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #F4F6F6;

  #main {
    // margin-left: 17em;
    padding: 1em;
    background: #EAEDED;
    .table-wrap{
      // display: table-row;
      border-collapse: separate;
      border-spacing: 40px 0;


    }
  }
 }
  #time {
   color: slategrey;

  form, div {
    display: inline;

  }

  input {
    font-size: small;
  }
#cart {
  font-size: smaller;
  color: white;
}

table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
th, td {
  padding-right: 20px;
}
}
 }

.depot_form {
  fieldset {
    background: #efe;

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none
    }
  }
}


#footer {
        text-align: right;
        color: slategrey;
        border-top: 1px solid grey;
        padding: 20px 10px;  /* this is the short hand way of doing padding or margin, this is top/bottom left/right, or you go clockwise starting from top *px *px *px *px %*/
        margin-top: 40px;
      }
