// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carts, #side #shopping-cart {
  width:  20%;
  float: left;

  #checkout [type="submit"]{
    margin-top: 10px;
    color: black;
    background-color: #E2E4E7;
    border-radius: 8px;
    width: 30%;
    padding: 5px;
    font-size: 10px;
  }
  #empty_cart [type="submit"]{
    margin-top: 10px;
    color: black;
    background-color: #E2E4E7;
    border-radius: 8px;
    width: 30%;
    padding: 5px;
    font-size: 10px;
  }
   // .cart_title {
   // font: 120% bold;
   // text-align: center;
   // }
   table tbody tr, td, th, h2{
    //  text-align: center;
     color: white;

     .cart_title {
        background: image-url('shopping-cart.png') no-repeat 0 3px;
}

   }

   .item_price, .total_line {
   text-align: right;
   color: white;

   }

   .total_line .total_cell {
   font-weight: bold;
   border-top: 1px solid #595;
   color: white;



  }
}
