// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
fieldset {
  border-style: none;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

legend {
  background-color: #FFFFFF;
  font-size: 16px;
  position: relative;
  color: #5C5F61;
}
label {
  margin-right: 10em;
}

#name {
   color: #5C5F61;
   font-size: 16px;
  }

 #password {
    color: #5C5F61;
    font-size: 16px;
  }
}


[type="submit"]{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #AEB3B6;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#main h1 {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;

}
