// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
  h1 {
   margin: 0;
   padding-bottom: 0.5em;
   font: 150% sans-serif;
   color: #226;
}

 #main h1 {
   text-align: center;
   color: #46484A
 }
 /* An entry in the store catalog */
.table-wrap {
    display: flex;
  	flex-flow: row wrap;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width:  100%;
    justify-content: center;

  .entry {
    // display: flex;
     width: 25%;/* again, adjust the percentage to fit with the margins and and borders %*/
     padding-bottom: 25px;
     margin:  10px 2% 100px;
     box-sizing: border-box;
     background-color: #F4F6F6;
     padding: 0 10px 60px;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
     position: relative;
     text-align: left;
     height: 400px;

    input {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }



    .image {
        padding-top: 10px;

        height: 200px;
        margin-bottom: 10px;
        img{
          margin: 0 auto;
          display: block;
          width: 100%;
          max-width: 150px;
        }


      }
      .copy{
        width: 90%;
        margin: 0 auto;


      p {
        text-align: left;

        }
      }
}
    //  img {
    //    width: 80px;
    //    margin-right: 5px;
    //    margin-bottom: 5px;
    //    position: absolute;
    //   }

     h3 {
       font-size: 120%;
       font-family: sans-serif;

       margin-top: 0;
       margin-bottom: 2px;
       color: #227;
     }

      div.price_line {
       margin-top: 0.5em;
       margin-bottom: 0.8em;
       bottom: 0;
       position: absolute;
       left: 0;
       right: 0;
       text-align: center;
       height: 20px;

       form, div {
         display: inline;


       }
     }

     .price {
        color: #44a;
        font-weight: bold;
        margin-right: 3em;
     }
   }
 }
